/* .main-component {
    background-image: url('../../assets/unsplash_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  } */
  
/* .main-component {
    background-image: url('../../assets/unsplash_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  } */
  
  .main-component {
    display: flex; /* Используем flexbox */
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    min-height: 80vh;
    position: relative;

  }
  
  .main-component__content {
    flex: 1; 
    padding: 20px; /* Добавлено для отступа от фона */
  box-sizing: border-box; /* Учитывает padding в ширине */
  z-index: 2;
  position: relative;
  }
  
  .main-component__background {
    background-image: url('../../assets/harold.png'); /* Путь к картинке */
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%; /* Занимает половину ширины */
    min-height: 100vh; /* Занимает всю высоту */
    margin: 1rem;
    z-index: 1;
    position: relative;

  }
  
  